body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  background-color: #B55904;

}

.menu-item {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  float: left;
  width: 150px;
  height: auto;
}

.menu-item-content {
  padding: 20px;
}

.menu-item-content h2 {
  margin-top: 0;
  color: #333;
}

.menu-item-content p {
  color: #666;
}

.menu-item select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

#summary {
  margin-top: 20px;
  border-top: 1px solid #ffeedb
  padding-top: 10px;
}

h2{
  color: #F47906;
}
h3{
  text-align: center;

}
.filters{
  text-align: center;
}