main {
    width: 101vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    background-image: url('../midias/fotos/burguer.jpg');
    background-size: cover;
    background-position: center;
}

:root {
    --black: #000;
    --white: #fff;
    --darker: #ad6d20;
    --main: #d18b30;
    --lighter: #f5a940;
}

.container{
    width: 800px;
    height: 400px;
    width: 30%;
    min-width: 300px;
    background-color: rgba(255, 255, 255, .5);
}

.subcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login{
    display: flex;
    justify-content: space-around;
}

#form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#float-form{
    display: flex;
    justify-content: space-around;
    height: 20%;
}
#float-form input{
    font-size: 12px;
    color: var(--black);
}
::placeholder{
    color: var(--black);
}
.tittle{
    color: var(--black);
}
.text{
    color: var(--black);
    font-size: 12px;
    text-align: left;
}
.link{
    color:var(--black);
    font-weight: 700;
    font-size: 14px;
}