:root {
    --black: #000;
    --white: #fff;
    --darker: #ad6d20;
    --main: #d18b30;
    --lighter: #f5a940;
}

header{
    position: relative;
    background-color: blue;
    height: 6vh;
    min-height: 45px;
    max-height: 55px;
}
#header-container {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--black);
}
.img {
    width: 3vw;
    height: auto;
}

.container-img-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
    margin: 0px 12vw;
}